body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 42%, rgba(0,212,255,1) 91%);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(183, 215, 246);
}

.text-container{
    display: flex;
    justify-content: space-around;
    border: none;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    width: 1000px;
    background-color: #2f94c0;
    height: 300px;
}

.input-txt{
    margin: 30px auto;
    height: 50px;
    border-radius: 10px;
    height: 80px;
    width: 400px;
    font-size: 30px;
}

.text-result{
    font-size: 50px;
    text-align: center;
    border: none;
    width: 450px;
    margin:  50px auto;
    background-color: aliceblue;
    border-radius: 10px;
}

.clr-btn{
    margin-left: 650px;
    font-size: 30px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}